body {
	font-family: var(--font);
	background: var(--color-bg-gray);
	color: var(--color-dark);
}

body.popup-open {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: var(--container);
	margin: 0 auto;
	padding: 0 20px;
}
