.orange {
  --adv-color: #FB923C;
}

.blue {
  --adv-color: #60A5FA;
}

.green {
  --adv-color: #4ADE80;
}

.purple {
  --adv-color: #C084FC;
}

.teal {
  --adv-color: #34D399;
}

.pink {
  --adv-color: #F472B6;
}

.yellow {
  --adv-color: #FBBF24;
}

.sky {
  --adv-color: #38BDF8;
}

.mutedPercent {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.65em;
}